@font-face
{
   font-family: "Proxima-Nova-Black";
   src: url(../fonts/proxima_ssv/Proxima-Nova-Black.otf) format("opentype");
}

@font-face
{
   font-family: "Proxima-Nova-Bold";
   src: url(../fonts/proxima_ssv/Proxima-Nova-Bold.otf) format("opentype");
}

@font-face
{
   font-family: "Proxima-Nova-Extrabold";
   src: url(../fonts/proxima_ssv/Proxima-Nova-Extrabold.otf) format("opentype");
}

@font-face
{
   font-family: "Proxima-Nova-Regular";
   src: url(../fonts/proxima_ssv/Proxima-Nova-Regular.otf) format("opentype");
}

@font-face
{
   font-family: "BodoniModa-Black";
   src: url(../fonts/Bodoni_Moda/BodoniModa-Black.ttf) format("opentype");
}

@font-face
{
   font-family: "BodoniModa-Bold";
   src: url(../fonts/Bodoni_Moda/BodoniModa-Bold.ttf) format("opentype");
}

@font-face
{
   font-family: "BodoniModa-ExtraBold";
   src: url(../fonts/Bodoni_Moda/BodoniModa-ExtraBold.ttf) format("opentype");
}

@font-face
{
   font-family: "BodoniModa-Regular";
   src: url(../fonts/Bodoni_Moda/BodoniModa-Regular.ttf) format("opentype");
}

#cover {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(../images/fondo-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    background-image: url(../images/underdog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#cover-info {
    width: 540px;
    height: 310px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}

#info-logo {
    width: 300px;
    height: 200px;
    margin: 0px auto 50px auto;
    background-image: url(../images/underdog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#info-txt {
    width: 100%;
    font-family: 'BodoniModa-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.38;
    letter-spacing: 0.13px;
}

#who {
    width: 100%;
    font-family: 'BodoniModa-Regular', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin: auto;
    cursor: pointer;
    display: none;
}

#line-cover {
    width: 2px;
    height: 35px;
    background-color: #fdfdfd;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
}

.container {
    padding: 0px!important;
    overflow: auto;
}

#navbarTogglerDemo02 {
    justify-content: flex-end;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #4e4e4e;
    z-index: 9999;
    padding: 0px!important;
}

.navbar .container {
    max-width: 90%!important;
}

.navbar-brand {
    max-width: 243px;
    width: 243px;
    height: 44px;
    background-image: url(../images/underdog-h.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 15px;
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url(../images/iconmenu.png) !important;
}

#navbarTogglerDemo02 {
    background-color: #4e4e4e;
    z-index: 9999;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.45px;
    text-align: left;
    margin-right: 2rem;
    font-family: 'Proxima-Nova-Regular', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #fff;
}

.last {
    margin: 0px!important;
}

#our-section {
    width: 100%;
    padding: 150px 0px;
    background-color: #f1f0f0;
}

.our-container {
    padding: 0px!important;
    max-width: 29%!important;
}

.our-title {
    font-family: 'Proxima-Nova-Extrabold', sans-serif;
    font-size: 48px;
    color: #363636;
    height: 100px;
    line-height: 50px;
}

.out-txt {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 22px;
    line-height: 1.84;
    color: #363636;
    margin-top: 20px;
    height: 200px;
}

.our-button {
    width: 100%;
    height: 68px;
    margin: 64px auto 0px auto;
    border: solid 1px #272425;
    padding-top: 16px;
    text-align: center;
    font-family: 'BodoniModa-Bold', sans-serif;
    font-size: 21px;
    font-weight: 900;
    color: #363636;
    overflow: auto;
    cursor: pointer;
    transition: all .6s ease;
}

.our-button:hover {
    background-color: #272425;
    color: #fff;
}

#brands-section {
    width: 100%;
    background-color: #fff;
    padding: 150px 0px;
}

.title-section {
    width: 100%;
    font-size: 48px;
    color: #363636;
    font-family: 'Proxima-Nova-Black', sans-serif;
    margin-bottom: 70px;
    text-align: center;
}

.brand-content {
    position: relative;
    border: 1px solid #272425; 
    padding: 0px!important;
    height: 11rem;
    max-width: 30%!important;
}

#brands-section .container .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-top: 5%;
}

.brand-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 110px;
    max-height: 80%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#note {
    width: 185px;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #272425;
    border-left: 1px solid #272425;
    font-size: 12px;
    font-family: 'Proxima-Nova-Regular', sans-serif;
    text-align: center;
    line-height: 30px;
}

#mt {
    background-image: url(../images/medio-tiempo.png);
}

#jf {
    background-image: url(../images/juanfut.png);
}

#jb {
    background-image: url(../images/juanbeis.png);
}

#fp {
    background-image: url(../images/fridapop.png);
    width: 200px;
    height: 200px;
}

#tk {
    background-image: url(../images/tikitaka.png);
}

#pt {
    background-image: url(../images/penta.png);
}

#clients-section {
    width: 100%;
    padding: 150px 0px;
    background-color: #f1f0f0;
}

#clients-section .container {
    overflow: auto;
}

#clients-section .container .title-section, #investors-section .container .title-section,
#milestones-section .container .title-section, #contact-section .container .title-section {
    text-align: left;
}

.clients-item {
    width: 135px;
    height: 90px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clients-item:nth-child(7n+1) {
    margin-right: 0px;
}

div.clients-item:nth-of-type(2) {
    background-image: url(../images/adidas.png);
}

div.clients-item:nth-of-type(3) {
    background-image: url(../images/barcel.png);
}

div.clients-item:nth-of-type(4) {
    background-image: url(../images/bundesliga.png);
}

div.clients-item:nth-of-type(5) {
    background-image: url(../images/caliente.png);
}

div.clients-item:nth-of-type(6) {
    background-image: url(../images/cocacola.png);
}

div.clients-item:nth-of-type(7) {
    background-image: url(../images/ea-sport.png);
}

div.clients-item:nth-of-type(8) {
    background-image: url(../images/game-pass.png);
}

div.clients-item:nth-of-type(9) {
    background-image: url(../images/gillete.png);
}

div.clients-item:nth-of-type(10) {
    background-image: url(../images/heineken.png);
}

div.clients-item:nth-of-type(11) {
    background-image: url(../images/innovasport.png);
}

div.clients-item:nth-of-type(12) {
    background-image: url(../images/liga-mx.png);
}

div.clients-item:nth-of-type(13) {
    background-image: url(../images/mextenis.png);
}

div.clients-item:nth-of-type(14) {
    background-image: url(../images/nfl.png);
}

div.clients-item:nth-of-type(15) {
    background-image: url(../images/nike.png);
}

div.clients-item:nth-of-type(16) {
    background-image: url(../images/nissan.png);
}

div.clients-item:nth-of-type(17) {
    background-image: url(../images/patriots.png);
}

div.clients-item:nth-of-type(18) {
    background-image: url(../images/samsung.png);
}

div.clients-item:nth-of-type(19) {
    background-image: url(../images/spotify.png);
}

div.clients-item:nth-of-type(20) {
    background-image: url(../images/tecate.png);
}

div.clients-item:nth-of-type(21) {
    background-image: url(../images/telcle.png);
}

div.clients-item:nth-of-type(22) {
    background-image: url(../images/tudn.png);
}

#investors-section {
    width: 100%;
    background-color: #fff;
    padding: 150px 0px;
}

.investors-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 22%;
    float: left;
    margin-right: 3%;
}

.investors-item:nth-of-type(2) {
    background-image: url(../images/gerbera.png);
}

.investors-item:nth-of-type(3) {
    background-image: url(../images/north-base.png);
}

.investors-item:nth-of-type(4) {
    background-image: url(../images/mexico-ventures.png);
}

.investors-item:nth-of-type(5) {
    background-image: url(../images/ignia.png);
    margin-right: 0px!important;
}

.investors-item:nth-of-type(6) {
    background-image: url(../images/rodina.png);
    background-size: 100%!important;
}

.investors-item:nth-of-type(7) {
    background-image: url(../images/startup-circle.png);
}

.investors-item:nth-of-type(8) {
    background-image: url(../images/pmovil.png);
}

#milestones-section {
    width: 100%;
    padding: 150px 0px;
    background-color: #f1f0f0;
}

#container-carousel {
    height: 500px;
}

.carousel {
    height: 230px;
    margin: 50px auto;
}

.slick-list {
    width: 600px!important;
    height: 100%!important;
    margin: auto!important;
}

.slick-track {
    height: 100%!important;
}

.info-item {
    width: 600px!important;
    border: 2px solid #363636;
    margin: auto;
}

.carousel .slick-slide {
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

.carousel .slick-slide.slick-active {
    opacity: 1;
}

.carousel-img-container {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.carousel-img {
    width: 173px;
    height: 118px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-txt {
    width: 50%;
    height: 100%;
    background-color: #fff;
    float: right;
    padding: 20px;
}

.carousel-date {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    color: #363636;
}

.carousel-description {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 18px;
    color: #363636;
}

.slick-dots {
    bottom: -100px!important;
}

.slick-dots li {
    text-align: center;
    overflow: visible;
    width: 13%!important;
    height: 4px!important;
    margin: 0px!important;
    background-color: #aaaaaa;
}

.slick-dots li button::before {
    content: none!important;
}

.slick-dots li button {
    width: 36px!important;
    height: 36px!important;
    border-radius: 51%;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 70% 50%!important;
    margin-top: -15px;
    background-color: #272425!important;
    -webkit-transition: -webkit-transform .5s ease;
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}

.slick-dots li:nth-of-type(8) {
    background-color: transparent;
    max-width: 36px;
}

.slick-active button {
    -webkit-transform: scale(1.75);
    -ms-transform: scale(1.75);
    transform: scale(1.75);
}

#slick-slide-control00 {
    background-color: #000!important;
    background-image: url(../images/underdog-thumb.png);
}

#slick-slide-control01 {
    background-color: #dad9de!important;
    background-image: url(../images/mt-thumb.png);
}

#slick-slide-control02 {
    background-color: #2f52a9!important;
    background-image: url(../images/telcel-thumb.png);
}

#slick-slide-control03 {
    background-color: #000!important;
    background-image: url(../images/jf-thumb.png);
    background-size: 80% 80% !important;
}

#slick-slide-control07 {
    background-color:#d50032!important;
    background-image: url(../images/jb-thumb.png);
    background-size: 50% 60% !important;
}

#slick-slide-control05 {
    background-color:#a512d6!important;
    background-image: url(../images/fp-thumb.png);
    background-size: 65% 65% !important;
}

#slick-slide-control04 {
    background-color:#000!important;
    background-image: url(../images/pt-thumb.png);
    background-size: 60% 60% !important;
}

#slick-slide-control06 {
    background-color:#000!important;
    background-image: url(../images/tk-thumb.png);
}

#contact-section {
    width: 100%;
    padding: 150px 0px;
    background-color: #fff;
}

.title-contact {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-size: 30px;
    color: #363636;
}

.email-contact {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 22px;
    color: #aaaaaa;
}

#footer-section {
    width: 100%;
    padding: 50px 0px;
    background-color: #000;
}

#footer-section .container {
    overflow: auto;
    position: relative;
}

#footer-section .container .logo {
    width: 150px;
    height: 100px;
    float: left;
    position: initial;
}

#combo {
    float: right;
    width: 350px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#combo select {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    font-family: 'Proxima-Nova-Regular';
    width: 125px;
    height: 20px;
    padding: 0px 4px 1px;
    float: left;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
}

#date-dev {
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima-Nova-Regular';
    float: right;
}

#container-timeline {
    max-width: 768px!important;
    overflow: auto;
    position: relative;
    display: none;
}

.timeline-item {
    width: 100%;
    padding-left: 10px;
    overflow: auto;
}

.timeline-img-container {
    width: 40px;
    height: 40px;
    border-radius: 51%;
    margin-right: 20px;
    z-index: 9;
}

.timeline-img {
    width: 100%;
    height: 100%;
    border-radius: 51%;
    background-repeat: no-repeat;
    background-position: center;
}

.timeline-item:nth-of-type(1) .timeline-img-container .timeline-img {
    background-size: 70% 50%;
}

.timeline-item:nth-of-type(2) .timeline-img-container .timeline-img {
    background-size: 80% 55%;
}

.timeline-item:nth-of-type(3) .timeline-img-container .timeline-img {
    background-size: 80% 55%;
}

.timeline-item:nth-of-type(4) .timeline-img-container .timeline-img {
    background-size: 80% 80%;
}

.timeline-item:nth-of-type(5) .timeline-img-container .timeline-img {
    background-size: 60% 60%;
}

.timeline-item:nth-of-type(6) .timeline-img-container .timeline-img {
    background-size: 70% 70%;
}

.timeline-item:nth-of-type(7) .timeline-img-container .timeline-img {
    background-size: 60% 55%;
}

.timeline-item:nth-of-type(8) .timeline-img-container .timeline-img {
    background-size: 80% 55%;
}

.timeline-txt {
    width: 80%;
    margin-bottom: 35px;
}

#back-line {
    position: absolute;
    top: 0px;
    left: 1.9rem;
    width: 0.08rem;
    height: calc(95% - 3rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(204, 204, 204);
}

.timeline-date {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
}

.timeline-description {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 13px;
    color: #363636;
}

@media screen and (max-width: 1210px) {
    .brand-img {
        width: 80%;
    }

    .our-title {
        font-size: 35px;
    }

    .out-txt {
        font-size: 20px;
        height: 220px;
    }

    .clients-item:nth-child(7n+1) {
        margin-right: 30px;
    }

    .clients-item:nth-child(6n+1) {
        margin-right: 0px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        background-image: url(../images/underdog.png);
        width: 80px;
        max-width: 80px;
    }

    #our-section .container {
        max-width: 90%!important;
    }

    .our-container {
        max-width: 32.1% !important;
    }

    .out-txt {
        height: 300px;
    }

    #clients-section .container {
        max-width: 630px!important;
    }

    .clients-item:nth-child(6n+1) {
        margin-right: 30px;
    }

    .clients-item:nth-child(4n+1) {
        margin-right: 0px;
    }
}

@media screen and (max-width: 831px) {
    .navbar-brand{
        display: none!important;
    }

    .our-title {
        font-size: 27px;
        line-height: 35px;
    }

    .out-txt {
        font-size: 17px;
        height: 220px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: block!important;
    }

    #cover .logo {
        display: none;
    }

    #cover-info, #who, #line-cover {
        display: block;
    }

    .navbar-brand {
        max-width: 70px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .45rem!important;
    }

    #navbarTogglerDemo02 {
        padding: 20px 0px;
    }

    .nav-item {
        margin-left: 15px;
    }

    .container {
        width: 90%!important;
        margin: 0px auto!important;
    }

    .navbar .container {
        max-width: 100%!important;
        width: 100%!important;
        margin: 0px!important;
    }

    #clients-section .container .title-section, #investors-section .container .title-section, #milestones-section .container .title-section, #contact-section .container .title-section {
        text-align: center;
    }

    #container-timeline {
        display: block;
    }

    #container-carousel {
        display: none;
    }

    #our-section .container {
        display: block!important;
    }

    .our-container {
        max-width: 90%!important;
        margin: 0px auto 100px auto!important;
    }

    .out-txt {
        height: 120px;
    }

    .brand-content {
        
        max-width: 90%!important;
        margin: 0px auto 50px auto!important;
    }

    .clients-item:nth-child(4n+1) {
        margin-right: 30px;
    }

    .clients-item:nth-child(3n+1) {
        margin-right: 0px;
    }

    .investors-item {
        width: 43%;
    }

    #footer-section .container .logo, #combo select, #date-dev {
        float: none;
        margin: 30px auto;
    }

    #combo {
        float: none;
        width: 126px;
        position: initial;
        overflow: auto;
        margin: auto;
    }

    #date-dev {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    #clients-section .container {
        max-width: 465px !important;
    }
}

@media (min-width: 576px){
    .navbar .container .container{
        width:auto;
    }
}

@media screen and (max-width: 540px) {
    #cover-info {
        width: 90%;
        height: 410px;
    }
}

@media screen and (max-width: 518px) {
    #clients-section .container {
        max-width: 300px !important;
    }

    .clients-item:nth-child(3n+1) {
        margin-right: 30px;
    }

    .clients-item:nth-child(2n+1) {
        margin-right: 0px;
    }
}

@media screen and (max-width: 467px) {
    .clients-item {
        width: 41%;
    }

    .title-contact {
        font-size: 25px;
    }

    .email-contact {
        font-size: 20px;
    }
}